
 
  
  
  .mySwiperi {
    width: 99%;
    height:600px;
    border-radius: 5px;

  }
  
  .swiperSlide {
    height: 50%;
  }
  
  
  @media only screen and (max-width:900px){



    
    .mySwiperi {
      width: 99%;
      height: 300px;
      border-radius: 5px;
  
    }
    
    .swiperSlide {
      height: 50%;
    }}
    